<!DOCTYPE html>
    <html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

    </head>

    <body style="font-family: 'Quicksand', sans-serif; font-weight: 300;">
        <div class="recommendor" style="padding-top: 5%;">
            <h1 style="text-align: center; font-weight: 500">Twitch Streamer Recommendor</h1>
            {numbers_so_far}
            {errors}
            <form method="post" action="." style="text-align: center;">
                <p style="text-align: center; font-size: 20px;"><input style="text-align: center; font-size: 18px;" size="40" class="main-input" name="streamer" /></p>
                <p style="text-align: center; font-size: 20px;">Enter streamers you already follow (Twitter or Twitch handle)</p>
                <p style="text-align: center; font-size: 20px;"><input style="font-size: 15px;" type="submit" name="action" value="Add another" /> <input style="font-size: 15px;" type="submit"
                        name="action" value="Recommend Streamers" /></p>
            </form>
        </div>

    </body>

    </html>